@media (max-width : 1422px) {
    .rate_wrapper h1{
        font-size: 33px;
    }
}



@media (max-width : 1300px) {
    .header_wrapper .menu-navbar-nav{
        width: auto;
    }
    /* RATE  */
    .rate_wrapper h1{
        font-size: 28px;
    }
}
@media (max-width: 1230px) {
    /* header */
    .header_wrapper .nav-item{
        margin:0 5px;
    }
    .header_wrapper .learn-more-btn{
        padding:12px 10px  !important;
    }
/* banner */

    .banner_wrapper .banner-title{
        font-size: 50px;
    }
   .service_wrapper .offset-1 {
        margin-left: 0px;
    }
}
@media (max-width: 1200px) {
    .service_wrapper .img-1{
       height: 100px !important;
       width: 220px !important;
    }
}
@media (max-width: 991px) {
    /* FEATURE  */
.feature_wrapper h3{
 font-size: 18px !important;
}
/* RATE  */
.rate_wrapper .offset-1{
    text-align: center;
    margin-left: 0px;
}
.rate_wrapper p{
    text-align: center;
    margin-left: 0px;
}
.rate_wrapper h1{
    font-size: 38px;
}
/* service  */
.service_wrapper .card-title-3{
    font-size: 10px;
}

.service_wrapper .card-text-3{
    font-size: 10px;
}

.service_wrapper .img-1 {
    width: 220px !important;
    height: 70px !important;
 }
/* footer  */

.footer_wrapper input {
    padding: 9px;
}

}


@media (max-width: 875px) {
.footer_wrapper .responsive{
    display: block !important;
}
.footer_wrapper .part-1{
    width: auto;
    justify-content: space-evenly;
}
.footer_wrapper .solution-part{
    
    justify-content: center;
}
.footer_wrapper .ft-3{
display: block !important;
}
.footer_wrapper .ft-4{
    width: auto;
}
.footer_wrapper .ft-5{
    margin-left: 0px;
    width: auto;
    text-align: center;
}
.footer_wrapper h5{
    text-align: center !important;
    font-size: 11px;
    color: white;
  }
}

@media (max-width: 767px) {

    /* FEATURE  */
    .feature_wrapper h3{
     font-size: 16px !important;
    }
    .feature_wrapper li {
        font-size: 10px !important;
    }
/* bennar  */
.banner_wrapper .banner-title{
    width: auto !important;
}
.banner_wrapper .banner-title-text-1{
    width: auto;
}
.banner_wrapper .btn-header{
    margin-top: 50px;
}
/* RATE   */

.rate_wrapper .offset-1{
    text-align: center;
    margin-left: 0px;
}
/* service  */

.service_wrapper .text-center {

    display: block !important;
}
.service_wrapper .p-5 {
    padding: 10px !important;
}
.service_wrapper .img-1 {
    width: 220px !important;
    height: 70px !important;
}
.service_wrapper .offset-1{
    margin-left: 0px !important;
}
.service_wrapper .p-5 {
    margin: 0px 60px;
}
  }



@media (max-width: 577px) {
/* banner   */

/* feature  */
.feature_wrapper .ft-1{
    text-align: center !important;
}
.feature_wrapper .nav-item{
    text-align: center;
}

.feature_wrapper h3{
    text-align: center;
}
.service_wrapper  .d-flex {
    display: block!important;
}
.service_wrapper .img-1 {
    width: 220px !important;
    height: 220px !important;
}

}